<div class="form-horizontal" role="form">
    <%= form_for [@playlist, @song] do |f| %>
      <div class="form-group">
        <%= f.label :artist, "Artist", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :artist, placeholder: "Artist (required)", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :song_name, "Song Name", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :song_name, placeholder: "Song Name (required)", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :album, "Album", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :album, placeholder: "Album", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :genre, "Genre", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :genre, placeholder: "Genre (required)", class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :soundcloud_url, "SoundCloud URL", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :soundcloud_url, placeholder: "eg (https://soundcloud.com/tame-impala/feels-like-we-only-go)", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :youtube_url, "YouTube URL", class: "control-label col-sm-2" %>
        <div class="col-sm-10">
          <%= f.text_field :youtube_url, placeholder: "eg (https://www.youtube.com/watch?v=-ed6UeDp1ek)", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-1 col-sm-offset-5">
          <%= f.submit "Save your changes!", class: "btn btn-default song-color" %>
        </div>
      </div>
    <% end %>
</div>
