<div class="search-bar">
  <%= render 'search_form'%>
</div>
<br>
<div class="well">
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <h3> Playlists </h3>
    </div>
    <div class="col-md-4">
      <h3> Description </h3>
    </div>
  </div>
  <hr>
  <% unless @playlists.all.nil? %>
    <% @playlists.each do |playlist| %>
      <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <%= link_to playlist.name, playlist_path(playlist), class: "names"%>
        </div>
        <div class="col-md-4">
          <%= playlist.description %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
  <div>
  <%= paginate @playlists %>
</div>
  <br>
  <%= link_to "Create new playlist", new_playlist_path, class:"btn btn-default playlist-color" %>
</div>
