<div> <%= @playlist.name %> </div>
<p>
  <%= link_to "Change your playlist name", edit_playlist_path(@playlist) %>
</p>

<div>
  <% unless @songs.nil? %>
    <% @songs.each do |song| %>
    <div class="row">
      Artist: <%= song.artist %>,
      Song Name: <%= song.song_name %>,
      Genre: <%= song.genre %>,
      <%= link_to "Edit song", edit_playlist_song_path(@playlist, song) %>
      <%= link_to "Delete song", playlist_song_path(@playlist, song), method: :delete %>
    </div>
    <% end %>
  <% end %>
</div>

<br>
<div class="row">
  <div class="col-sm-4">
    <button type="button" class="btn btn-primary btn-block">
      <%= link_to "Add a new song to your playlist.", new_playlist_song_path(@playlist) %>
    </button>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-danger btn-block">
      <%= link_to "Delete your playlist.", playlist_path(@playlist), method: :delete, data: { confirm: "Are you sure?" } %>
    </button>
  </div>
</div>
