<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <div class="lead"> <%= @playlist.name %> </div>
      <p>
        <%= @playlist.description %>
      </p>

      <% if @playlist.user == current_user%>
        <p>
          <%= link_to "Change your playlist name and description", edit_playlist_path(@playlist) %>
        </p>
      <% end %>
    </div>
  </div>
</div>


<div class="well">
  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#playlist" data-toggle="tab">Playlist</a></li>
      <li><a href="#recommendations" data-toggle="tab">Recommendations</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="playlist">
        <% if @playlist.user != current_user%>
          <%= link_to "Make a recommendation for this playlist!.", new_playlist_song_path(@playlist), class:"btn btn-default song-color" %>
          <hr>
        <% end %>
        <% unless @songs.nil? %>
          <% @songs.each do |song| %>
          <div class="row">
            <ul class="list-unstyled">
              <li> Artist: <%= song.artist %> </li>
              <li> Song Name: <%= song.song_name %> </li>
              <li> Genre: <%= song.genre %> </li>
              <% unless song.soundcloud_url.blank? %>
                <div data-url="<%= song.soundcloud_url %>" class="sb-soundplayer-widget"></div>
              <% end %>
              <% unless song.youtube_url.blank? %>
                <% url = song.youtube_url.gsub("watch?v=","embed/") %>
                <iframe width="870" height="250" src="<%= url %>" frameborder="0" allowfullscreen></iframe>
              <% end %>
            </ul>
            <% if @playlist.user == current_user%>
              <%= link_to "Edit song", edit_playlist_song_path(@playlist, song) %> |
              <%= link_to "Delete song", playlist_song_path(@playlist, song), method: :delete %>
            <% end %>
            <hr>
          </div>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane" id="recommendations">
        <h1>need to add stuff here</h1>
        <% unless @song_recommendations.nil? %>
          <p>
            <%= @song_recommendations.first.artist %>
          </p>
        <% end %>
      </div>
     </div>
   </div>
</div>

<br>
<% if @playlist.user == current_user%>
  <div class="row">
    <div class="col-sm-6">
        <%= link_to "Add a new song to your playlist.", new_playlist_song_path(@playlist), class:"btn btn-default song-color" %>
    </div>
    <div class="col-sm-6">
        <%= link_to "Delete your playlist.", playlist_path(@playlist), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default btn-danger" %>
    </div>
  </div>
<% end %>
