<div> <%= @playlist.name %> </div>
<p>
  <%= link_to "Change your playlist name", edit_playlist_path(@playlist) %>
</p>

<div class="well">
  <% unless @songs.nil? %>
    <% @songs.each do |song| %>
    <div class="row">
      <ul class="list-unstyled">
        <li> Artist: <%= song.artist %> </li>
        <li> Song Name: <%= song.song_name %> </li>
        <li> Genre: <%= song.genre %> </li>
        <div data-url="https://soundcloud.com/shura/shura-indecision-12-edit-1" class="sb-soundplayer-widget"></div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-ed6UeDp1ek" frameborder="0" allowfullscreen></iframe>
      </ul>
      <% if @playlist.user == current_user%>
        <%= link_to "Edit song", edit_playlist_song_path(@playlist, song) %> |
        <%= link_to "Delete song", playlist_song_path(@playlist, song), method: :delete %>
      <% end %>
      <hr>
    </div>
    <% end %>
  <% end %>
</div>

<br>
<% if @playlist.user == current_user%>
  <div class="row">
    <div class="col-sm-6">
        <%= link_to "Add a new song to your playlist.", new_playlist_song_path(@playlist), class:"btn btn-default song-color" %>
    </div>
    <div class="col-sm-6">
        <%= link_to "Delete your playlist.", playlist_path(@playlist), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default btn-danger" %>
    </div>
  </div>
<% end %>
