<!DOCTYPE html>
<html>
<head>
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type} center") %>
  <% end %>
  </div>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">BreakableToy</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  <%= render "layouts/footer" %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
