<!DOCTYPE html>
<html>
  <head>
    <title>Wander</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type} center") %>
    <% end %>
    </div>

    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <% if current_user %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
      <h3 class="text-muted">
        <%= link_to "Life\'s a Beach", root_path %>
      </h3>
    </div>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    <%= render "layouts/footer" %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
