<!DOCTYPE html>
<html>
  <head>
    <title>Wander</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="index-background-image">

    <div class="header clearfix navbar-fixed-top">
      <nav>
        <ul class="nav nav-pills pull-right">
          <% if current_user %>
            <li><%= link_to 'My Playlists', playlists_path(id: current_user.id), class: "home-header" %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "home-header" %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: "home-header" %></li>
            <li><%= link_to 'Sign In', new_user_session_path, class: "home-header" %></li>
          <% end %>
        </ul>
      </nav>
      <h3 class="text-muted">
        <%= link_to image_tag("wander3.gif"), playlists_path, class:"home-header wander-link" %>
      </h3>
    </div>

    <div class="row flash-msg">
      <%= flash_messages %>
    </div>

    <div class="container-body">
      <%= yield %>
    </div>

    <!-- <%= debug(params) if Rails.env.development? %>
     -->

    <div class="well container">
      <%= render "layouts/footer" %>
    </div>

    <script>
      var sb_soundplayer_client_id = '<%= ENV["CLIENT_ID"] %>';

      (function(d, s, id) {
          if (d.getElementById(id)) return;
          var js, p, fjs = d.getElementsByTagName(s)[0];
          p = /^http:/.test(d.location) ? 'http' : 'https';
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://cdnjs.cloudflare.com/ajax/libs/soundplayer-widget/0.1.3/soundplayer-widget.min.js';
          fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'sb-soundplayer-widget-sdk');
    </script>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
